<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1>Welcome to Wikipedia!</h1>
        <small><%= @user.name %></small>
        <p>Thanks for signing up.  You are not able to do anything of use on this site currently, but rest assured <em>I will</em> keep smashin on it!</p>
        <p>
            <%= link_to "Wikipedia Home Page", root_url%>
        </p>
    </body>
</html>